<!doctype html>
<html>
<head>
    <title>Real Estate Token</title>
    <!-- http://jsfiddle.net/KJQ9K/554/ -->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="packages/web3/src/Web3.js"></script>
    <script>

        var account;

        // SimpleICO contract
        // https://pastebin.com/raw/whAeHQbz

        // Real Estate Token contract address (Kovan):
        const contractAddress = "0xf17c9ee7c0b928cf30b4344dd3457c24c9c7b806";

        // Real Estate Token contract ABI : https://pastebin.com/raw/xxmiX65g
        const contractAbi = [
	{
		"constant": true,
		"inputs": [],
		"name": "getBalance",
		"outputs": [
			{
				"name": "",
				"type": "uint256"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [],
		"name": "totalSupply",
		"outputs": [
			{
				"name": "",
				"type": "uint256"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [],
		"name": "getContractBalance",
		"outputs": [
			{
				"name": "",
				"type": "uint256"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [],
		"name": "withDrawFunds",
		"outputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [],
		"name": "buyTokens",
		"outputs": [],
		"payable": true,
		"stateMutability": "payable",
		"type": "function"
	},
	{
		"inputs": [
			{
				"name": "initialSupply",
				"type": "uint256"
			}
		],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "constructor"
	}
];
        
        // instance of the Smart Contract
        var contract;

        // account address
        var accountAddress;

        // account balance
        var balance;
        
        // initialize connection with MetaMask
        window.addEventListener('load', () => {

            // Modern dapp browsers...
            if (window.ethereum) {
                window.web3 = new Web3(ethereum);
                try {
                    web3.eth.sendTransaction({/* ... */});
                } catch (error) {}
            }
            else if (window.web3) {
                window.web3 = new Web3(web3.currentProvider);
                web3.eth.sendTransaction({/* ... */});
            }
            else {
                console.log('Non-Ethereum browser detected. You should consider trying MetaMask!');
            }

            // contract instance
            contract = web3.eth.contract(contractAbi).at(contractAddress);

            // show total supply
            contract.totalSupply(function(error, result) {
                $('#totalSupply').text(formatNumber(result) + ' RET')
            })

            // get address from MetaMask
            web3.eth.getAccounts(function(error, result) {
                if(error) {
                    console.log(error);
                } else {
                    accountAddress = result;
                    $('#address').text(accountAddress);
                    console.log('Account address: ' + accountAddress);

                    let acc = accountAddress+'';
                    acc = acc.substring(2, acc.length)

                    // get account balance in Ether
                    web3.eth.getBalance(acc, function(error, res) {
                        if(error) {
                            console.log(error);
                        } else {
                            balance = res;
                            $('#ETHbalance').text( web3.fromWei(balance, 'ether').toFixed(4) + ' ETH');
                        }
                    });
                }
            });
            
            // get token balance
            contract.getBalance(function(error, result) {
                let tokenAmount = formatNumber(result);
                $('#RETBalance').text(tokenAmount + ' RET');
            })

        });

        function formatNumber(num) {
            return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
        }

        function buyRETTokens() {

            // amount in Ether
            let amount = Number( $('#amountOfETHToSend').val() )

            // account balance in Ether
            let balanceInEther = Number( web3.fromWei(balance, 'ether') )

            if(!isNaN(amount)) {
                console.log('Amount: ' + amount)
                console.log('Balance: ' + balanceInEther)
                if(amount < balanceInEther) {

                    let txObject = {
                        'value' : web3.toWei(amount, 'ether'),
                        'input' : '0x44616e69656c'
                    };

                    // call function buyTokens() from contract
                    contract.buyTokens.sendTransaction(txObject, function(error, result){
                        if(error) {
                            console.log(error)
                        } else {
                            $('#txHash').val(result)
                        }
                    });

                } else {
                    alert('Insufficient funds')
                }
            } else {
                alert('Input is not a number');
            }
        }

        // when user changes account:
        // https://medium.com/coinmonks/detecting-metamask-account-or-network-change-in-javascript-using-web3-1-0-0-18433e99df5a

    </script>
</head>
<body>
    <br><br>
    <div class="container" style="width: 900px;">
    
	    <nav aria-label="breadcrumb">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item active" aria-current="page"><h1><b>Real Estate Token (RET)</b></h1></li>
		  </ol>
		</nav>
	    <!-- <h1><b>Real Estate Token (RET)</b></h1> -->
	    <div class="row">
	    	<div class="col-8 ml-3">
	    		<br>
			    <h3><b>Total Supply: <span id="totalSupply"></span></b></h3><br />

	    		Account: <span id="address"></span><br /> 
			    <span id="ETHbalance"></span><br />
	    		<span id="RETBalance"></span><br /><br />

	    		<input type="text" id="amountOfETHToSend" size='40' placeholder="Amount of ETH to send..." />
			    <button class="btn btn-dark" onclick="buyRETTokens()">Buy RET tokens</button><br /><br />
	    	</div>
	    	<div class="col">
	    		<div class="text-center">
		            <img src="https://static1.squarespace.com/static/5a6e2f7718b27d1135126e21/t/5b681aa1aa4a99f211e224a5/1546800690430/2+no+background+copy+400.png" class="img-fluid" alt="Responsive image" width="250px">
		        </div>    
        	</div>
	    <div>
	</div>

</body>
</html>
